@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn-variant($color, $bg-color, $border-color) {
  color: $color;
  background-color: $bg-color;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: 80px;
  border: 1px solid $border-color;
}
