body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-base;
  line-height: $line-height-base;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}
