$font-family-base: "Open Sans", sans-serif !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$border-radius-base: 8px !default;

$white: #fff !default;
$gray-light: #f8f9fa !default;
$gray: #8899a6 !default;
$gray-dark: #253341 !default;
$black: #000 !default;

$primary-color: #1991da !default;
$body-bg: #16212b !default;
$color-base: $gray !default;
$heading-color: $white !default;
$link-color: $gray !default;
$link-hover-color: darken($link-color, 15%) !default;
$border-color: rgb(61, 84, 102);
